Repository sripwoud/ts-template: changes, and which lint-staged commands are due for each by the changed paths.
All: bun dprint fmt, biome check --config-path .biome.jsonc, tsc-files --noEmit

chore: add yarn.lock
  .gitignore
  yarn.lock
Due: none

chore: bump minimum node engines version
  package.json
Due: bun dprint fmt, biome check --config-path .biome.jsonc

ci: run test and validate jobs in same workflow
  .github/workflows/main.yaml
  .github/workflows/test.yaml
  .github/workflows/validate.yaml
Due: bun dprint fmt, biome check --config-path .biome.jsonc

chore: add comment
  .github/workflows/validate.yaml
Due: bun dprint fmt, biome check --config-path .biome.jsonc

ci: ensure test job is always successful even if skipped
  .github/workflows/validate.yaml
Due: bun dprint fmt, biome check --config-path .biome.jsonc

chore: comment
  .github/workflows/validate.yaml
Due: bun dprint fmt, biome check --config-path .biome.jsonc

ci: run test and validate jobs in same workflow (#42)
  .github/workflows/main.yaml
  .github/workflows/test.yaml
Due: bun dprint fmt, biome check --config-path .biome.jsonc

ci: refactor
  .github/workflows/main.yaml
  .github/workflows/validate.yaml
Due: bun dprint fmt, biome check --config-path .biome.jsonc

ci: refactor (#43)
  .github/workflows/main.yaml
  .github/workflows/validate.yaml
Due: bun dprint fmt, biome check --config-path .biome.jsonc

docs: update README
  README.md
Due: bun dprint fmt, biome check --config-path .biome.jsonc

chore: update lockfile
  bun.lockb
Due: none

chore: bump `braces`
  bun.lockb
  package.json
  yarn.lock
Due: bun dprint fmt, biome check --config-path .biome.jsonc

chore: setup `lefthook`
  .lefthook.yml
  .tool-versions
  bun.lockb
  package.json
  yarn.lock
Due: bun dprint fmt, biome check --config-path .biome.jsonc

chore: setup `lefthook` (#44)
  .husky/pre-commit
  .lefthook.yml
  .lintstagedrc.yaml
  .tool-versions
  README.md
  bun.lockb
  package.json
  yarn.lock
Due: bun dprint fmt, biome check --config-path .biome.jsonc

chore: set latest bun in tool-versions
  .tool-versions
Due: none

chore: use `g-plan/pretty_yaml` to format `yaml`
  .dprint.jsonc
  .lintstagedrc.yaml
  docker-compose.yaml
Due: bun dprint fmt, biome check --config-path .biome.jsonc

chore: add `dockerfile` dprint plugin
  .dprint.jsonc
  Dockerfile
Due: bun dprint fmt, biome check --config-path .biome.jsonc

chore: update `dprint` plugins (#45)
  .dprint.jsonc
  .lefthook.yml
  .lintstagedrc.yaml
  Dockerfile
  docker-compose.yaml
Due: bun dprint fmt, biome check --config-path .biome.jsonc

chore: fmt
  .lefthook.yml
Due: bun dprint fmt, biome check --config-path .biome.jsonc

bump all deps, remove lintstagedrc, barreslby, lefthook
  .barrelsby.json
  .envrc
  .lintstagedrc.yaml
  .tool-versions
  bun.lockb
  package.json
  yarn.lock
Due: bun dprint fmt, biome check --config-path .biome.jsonc

cleanup
  .dprint.jsonc
  .env-sample
  .secret-sample
  .tool-versions
  Dockerfile
  README.md
  docker-compose.yaml
  mise.toml
  scripts/secrets-entrypoint.sh
Due: bun dprint fmt, biome check --config-path .biome.jsonc

define mise tasks
  mise.toml
  src/index.ts
  src/mod/index.ts
Due: bun dprint fmt, biome check --config-path .biome.jsonc, tsc-files --noEmit

fix test
  test/unit/mod.test.ts
Due: bun dprint fmt, biome check --config-path .biome.jsonc, tsc-files --noEmit

update ci
  .github/workflows/main.yaml
Due: bun dprint fmt, biome check --config-path .biome.jsonc

readd concurrently dep
  bun.lockb
  package.json
  yarn.lock
Due: bun dprint fmt, biome check --config-path .biome.jsonc

chore: use mise (#46)
  .barrelsby.json
  .dprint.jsonc
  .env-sample
  .envrc
  .github/workflows/main.yaml
  .lintstagedrc.yaml
  .secret-sample
  .tool-versions
  Dockerfile
  README.md
  bun.lockb
  docker-compose.yaml
  mise.toml
  package.json
  scripts/secrets-entrypoint.sh
  src/index.ts
  src/mod/index.ts
  test/unit/mod.test.ts
  yarn.lock
Due: bun dprint fmt, biome check --config-path .biome.jsonc, tsc-files --noEmit

chore: setup convco
  .convco
  .gitignore
  README.md
  mise.toml
  setup
Due: bun dprint fmt, biome check --config-path .biome.jsonc

docs: updat README
  README.md
Due: bun dprint fmt, biome check --config-path .biome.jsonc

fix: install tools with `mise` in `setup` script
  setup
Due: none

chore: update biome config
  .biome.jsonc
Due: bun dprint fmt, biome check --config-path .biome.jsonc

feat: replace `lefthook` by `hk`
  .lefthook.yml
  README.md
  hk.pkl
  mise.toml
Due: bun dprint fmt, biome check --config-path .biome.jsonc

feat: replace `lefthook` by `hk` (#48)
  .lefthook.yml
  README.md
  hk.pkl
  mise.toml
  setup
Due: bun dprint fmt, biome check --config-path .biome.jsonc

fix: pin `hk.pkl`
  .github/workflows/main.yml
  README.md
  hk.pkl
Due: bun dprint fmt, biome check --config-path .biome.jsonc

refactor: install all dev tools with `mise`
  .dprint.jsonc
  .github/workflows/main.yml
  bun.lockb
  bunfig.toml
  hk.pkl
  mise.toml
  package.json
  setup
  test/setup.ts
  yarn.lock
Due: bun dprint fmt, biome check --config-path .biome.jsonc, tsc-files --noEmit

chore: update `hk.pl`
  hk.pkl
Due: none

ci: add action to lint PR titles
  .github/workflows/semantic-pr.yml
Due: bun dprint fmt, biome check --config-path .biome.jsonc

ci: add action to lint PR titles (#49)
  .github/workflows/semantic-pr.yml
Due: bun dprint fmt, biome check --config-path .biome.jsonc

feat(git): use convco as editor only on `main`
  setup
Due: none

Path conditions:
  bun dprint fmt: any of: **/*.{cjs,md,json,jsonc,js,jsx,mjs,ts,tsx,yaml,yml}
  biome check --config-path .biome.jsonc: any of: **/*.{cjs,md,json,jsonc,js,jsx,mjs,ts,tsx,yaml,yml}
  tsc-files --noEmit: any of: **/*.{cjs,js,jsx,mjs,ts,tsx}
